<section class="section games" id="games">
  <div class="container games__container grid grid--reverse">
    <div class="grid__item grid__item--5of12 js-games-main games__main" data-aos="fade-up">
      <div class="games__main">
        <span class="section__subtitle" data-aos="fade-up" >Shiba Saga</span>
        <h2 class="section__title" data-aos="fade-up">Earn $SHIA tokens playing your favorite remastered games</h2>
        <div class="section__text games__text" data-aos="fade-up">
          <p>
            At the core of the Shiba Saga game collection are many classic and casual games you already know and love,
            but with Shiba as a main character. Games in the collection share an on-chain interconnected system where
            users can earn and spend the same $SHIA token across every game and with every new release. In addition, a
            character/ collectible (NFT) unlocked in one game, will have its counterpart unlocked in the other games.
          </p>
        </div>
      </div>
    </div>

    <div class="grid__item grid__item--7of12 games__col">
      <div class="games__image" id="games-wrap">
        <img src="./assets/img/kart-coins.png" class="js-kart-coins" alt="$shia" />

        <div class="kart" id="kart">
          <img class="kart-img" src="./assets/img/kart.gif" alt="Shia Kart" />
        </div>

        <img src="./assets/img/shia-kart-text.png" class="js-kart-text" alt="$shia" />
        <div class="games__gradient"></div>
      </div>
    </div>
  </div>
</section>
