<header class="navbar" id="header">
  <a class="navbar__logo" href="/"> {{> logo}} </a>

  <div class="navbar__nav" id="nav">
    <nav class="navbar__mobile">
      <ul class="navbar__menu">
        <li class="navbar__menu-item">
          <a class="navbar__menu-link" href="#games">ShibaSaga</a>
        </li>
        <li class="navbar__menu-item">
          <a class="navbar__menu-link" href="#saga">Buy</a>
        </li>
        <li class="navbar__menu-item">
          <a class="navbar__menu-link" href="#shiaverse">The ShiaVerse</a>
        </li>
        <li class="navbar__menu-item">
          <a class="navbar__menu-link" href="#community">Community</a>
        </li>
      </ul>
    </nav>
  </div>

  <button class="navbar__burger js-burger" id="burger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </button>

  <div class="navbar__bg"></div>
</header>
