<section class="section staking" id="staking">
    <div class="container grid">
        <div class="grid__item grid__item--7of12">
            <div class="section__main staking__main">
                <span class="section__subtitle" data-aos="fade-up">STAKING $SHIA</span>
                <h2 class="section__title" data-aos="fade-up">
                    Stake $SHIA now to gain 
                    rewards and voting power.</h2>
                <div class="section__text" data-aos="fade-up">
                    <p>The ability to stake $SHIA (for rewards) is already available and guarantees a reward multiplier for those that stake their $SHIA before launch-day. Staking $SHIA will reward you with more $SHIA and exclusive in-game and community collectibles (NFTs).</p>
                </div>

                <!-- <a href="#" class="btn btn--primary" data-aos="fade-up">Stake $SHIA now</a> -->
            </div>
        </div>

        <div class="grid__item grid__item--5of12">
            <div class="staking__image" data-aos="fade-up">
                <img src="../assets/img/coin-saga-1.png" class="js-staking-image-1 staking__image--1" alt="Shia coin">
                <img src="../assets/img/coin-saga-2.png" class="js-staking-image-2 staking__image--2" alt="Shia coin">
                <img src="../assets/img/staking-asset.png" class="js-staking-image-3 staking__image--3" alt="Shia loading">
            </div>
        </div>
    </div>
</section>