<section class="section tokenomics">
  <div class="tokenomics__container container">
    <span class="section__subtitle">TOKENOMICS</span>
    <h2 class="section__title">Shiba Saga Token Allocation</h2>
    <div class="section__text">
      <p>$SHIA is the main utility token in the Savers with core values.</p>
    </div>

    <div class="grid tokenomics__grid">
      <div class="tokenomics__chart-wrapper grid__item grid__item--6of12" data-aos="fade-right">
        <div class="doughnut-wrapper">
          <svg
            class="doughnut-svg"
            xmlns="http://www.w3.org/2000/svg"
            width="449.915"
            height="462.564"
            viewBox="0 0 449.915 462.564"
          >
            <g id="Group_13365" data-name="Group 13365" transform="translate(-0.001 0)">
              <path
                id="Path_5095"
                data-name="Path 5095"
                d="M209.971,414.6l.024,0Z"
                transform="translate(14.851 29.322)"
                fill="#d190a8"
              />
              <path
                id="Path_5096"
                data-name="Path 5096"
                d="M112.186,216.6a129.315,129.315,0,0,1,1.656-20.629L4.553,173.977c-.069.35-.148.7-.215,1.036q-1.225,6.208-2.09,12.451-.891,6.248-1.42,12.542T.1,212.6q-.186,6.315-.03,12.623t.647,12.609q.508,6.285,1.337,12.551c.566,4.164,1.239,8.325,2.023,12.45s1.684,8.25,2.7,12.328,2.132,8.144,3.362,12.173,2.583,8,4.033,11.954,3,7.863,4.662,11.731,3.433,7.68,5.305,11.445,3.844,7.485,5.917,11.146,4.248,7.267,6.522,10.815,4.641,7.016,7.1,10.427,5.013,6.765,7.662,10.04,5.378,6.468,8.189,9.594,5.722,6.173,8.705,9.139,6.057,5.853,9.191,8.648,6.361,5.51,9.647,8.144,6.656,5.156,10.085,7.6,6.919,4.779,10.479,7.036,7.173,4.4,10.844,6.449,7.394,4.008,11.178,5.852,7.607,3.593,11.48,5.24,7.8,3.167,11.753,4.593,7.959,2.751,11.993,3.957,8.087,2.309,12.181,3.294,8.206,1.856,12.348,2.62,8.293,1.41,12.473,1.941c3.4.441,6.825.777,10.25,1.071v-.005c.76.063,1.518.142,2.28.2L222.2,343.745A128.492,128.492,0,0,1,112.186,216.6"
                transform="translate(0 12.305)"
                fill="#fda000"
              />
              <path
                id="Path_5097"
                data-name="Path 5097"
                d="M239.786,100.435a129.668,129.668,0,0,1,16.791,1.092L276.343,3.282c-1.605-.273-3.211-.54-4.823-.779A231.277,231.277,0,0,0,16.632,162.963q-1.754,5.673-3.211,11.42c-.085.333-.158.67-.242,1-.3,1.208-.586,2.419-.869,3.631l102.365,20.6a128.517,128.517,0,0,1,125.112-99.179"
                transform="translate(0.871)"
                fill="#fc6900"
              />
              <path
                id="Path_5098"
                data-name="Path 5098"
                d="M334.663,164l80.03-36.067q-.949-1.833-1.933-3.647A231.277,231.277,0,0,0,284.233,15.779c-5.41-1.847-10.884-3.464-16.406-4.9-.915-.239-1.831-.479-2.75-.707q-.808-.2-1.616-.4l-19.056,91.7A128.569,128.569,0,0,1,334.663,164"
                transform="translate(17.286 0.691)"
                fill="#c33f05"
              />
              <path
                id="Path_5099"
                data-name="Path 5099"
                d="M425.228,194.191A231.191,231.191,0,0,0,414.651,145.3q-2.133-6.408-4.644-12.669c-.22-.549-.45-1.094-.673-1.641-.573-1.4-1.151-2.805-1.751-4.2-.15-.349-.306-.695-.46-1.042l-75.973,34.822a128.78,128.78,0,0,1,8,100.035l75.5,30.773a231.009,231.009,0,0,0,10.58-97.192"
                transform="translate(23.421 8.894)"
                fill="#bc2400"
              />
              <path
                id="Path_5100"
                data-name="Path 5100"
                d="M338.687,255.687A128.332,128.332,0,0,1,316.431,293.7l48.546,46.514a227.374,227.374,0,0,0,36.052-55.077l.026-.052c.52-1.112,1.013-2.237,1.513-3.358Z"
                transform="translate(22.38 18.083)"
                fill="#bc005e"
              />
              <path
                id="Path_5101"
                data-name="Path 5101"
                d="M315.539,294.371a129.061,129.061,0,0,1-28.557,23.582l29.281,54.556a228.324,228.324,0,0,0,43.6-32.394c.023-.02.046-.041.068-.062.551-.521,1.086-1.055,1.631-1.58Z"
                transform="translate(20.297 20.819)"
                fill="#8101d1"
              />
              <path
                id="Path_5102"
                data-name="Path 5102"
                d="M256.105,330.373l13.062,53.081a229.123,229.123,0,0,0,34.2-13l.559-.268q1.7-.809,3.377-1.647c.544-.271,1.087-.542,1.63-.817.38-.193.758-.39,1.137-.586l-25.817-48.1a127.655,127.655,0,0,1-28.151,11.334"
                transform="translate(18.113 22.564)"
                fill="#5222f2"
              />
              <path
                id="Path_5103"
                data-name="Path 5103"
                d="M230.878,333.826l2.578,48.808a229.706,229.706,0,0,0,24.982-3.421c1.483-.287,2.967-.569,4.446-.885.152-.033.3-.07.454-.1.626-.135,1.25-.291,1.876-.433l-11.6-47.158a128.381,128.381,0,0,1-22.732,3.191"
                transform="translate(16.329 23.384)"
                fill="#487cdd"
              />
              <path
                id="Path_5104"
                data-name="Path 5104"
                d="M225.892,333.819a129.65,129.65,0,0,1-13.949-.757l-3.193,43.785q6.842.376,13.687.348c.763,0,1.528,0,2.291-.013,1.076-.013,2.153-.028,3.227-.057.479-.013.956-.036,1.435-.053L227.1,333.8c-.4,0-.807.015-1.212.015"
                transform="translate(14.764 23.556)"
                fill="#65cceb"
              />
            </g>
          </svg>

          <div class="doughnut-supply">
            <span class="doughnut-supply__text-top">Total Supply</span>
            <span class="doughnut-supply__text-bottom">10 000 000 000</span>
          </div>
        </div>
      </div>

      <div class="tokenomics__list-wrapper grid__item grid__item--6of12" data-aos="fade-left">
        <ul class="tokenomics-list">
          <li class="tokenomics-list__item">
            <div class="tokenomics-list__col">
              <span class="tokenomics-list__title"> <span class="text-theme">27%</span> Play And Earn </span>
              <span class="tokenomics-list__small-text">Vesting of 4.5 years</span>
            </div>
            <div class="tokenomics-list__col">
              <span class="tokenomics-list__small-text">amount</span>
              <span class="tokenomics-list__number">2 700 000 000</span>
            </div>
          </li>

          <li class="tokenomics-list__item">
            <div class="tokenomics-list__col">
              <span class="tokenomics-list__title"> <span class="text-theme">25%</span> Staking rewards</span>
              <span class="tokenomics-list__small-text">Vesting over 6 years</span>
            </div>
            <div class="tokenomics-list__col">
              <span class="tokenomics-list__small-text">amount</span>
              <span class="tokenomics-list__number">2 500 000 000</span>
            </div>
          </li>

          <li class="tokenomics-list__item">
            <div class="tokenomics-list__col">
              <span class="tokenomics-list__title"> <span class="text-theme">15%</span> Public Sale</span>
              <span class="tokenomics-list__small-text">2 months cliff, monthly vesting over 12 months</span>
            </div>
            <div class="tokenomics-list__col">
              <span class="tokenomics-list__small-text">amount</span>
              <span class="tokenomics-list__number">1 500 000 000</span>
            </div>
          </li>

          <li class="tokenomics-list__item">
            <div class="tokenomics-list__col">
              <span class="tokenomics-list__title"> <span class="text-theme">6%</span> Seed Round</span>
              <span class="tokenomics-list__small-text">4 months cliff, monthly vesting over 12 months</span>
            </div>
            <div class="tokenomics-list__col">
              <span class="tokenomics-list__small-text">amount</span>
              <span class="tokenomics-list__number">600 000 000</span>
            </div>
          </li>

          <li class="tokenomics-list__item">
            <div class="tokenomics-list__col">
              <span class="tokenomics-list__title"> <span class="text-theme">4%</span> Private Sale</span>
              <span class="tokenomics-list__small-text">3 months cliff, monthly vesting over 12 months</span>
            </div>
            <div class="tokenomics-list__col">
              <span class="tokenomics-list__small-text">amount</span>
              <span class="tokenomics-list__number">400 000 000</span>
            </div>
          </li>

          <li class="tokenomics-list__item">
            <div class="tokenomics-list__col">
              <span class="tokenomics-list__title"> <span class="text-theme">13%</span> Private Sale</span>
              <span class="tokenomics-list__small-text">6 months cliff, monthly vesting over 12 months</span>
            </div>
            <div class="tokenomics-list__col">
              <span class="tokenomics-list__small-text">amount</span>
              <span class="tokenomics-list__number">1 300 000 000</span>
            </div>
          </li>

          <li class="tokenomics-list__item">
            <div class="tokenomics-list__col">
              <span class="tokenomics-list__title"> <span class="text-theme">3%</span> Advisors</span>
              <span class="tokenomics-list__small-text">12 months cliff, monthly vesting over 18 months</span>
            </div>
            <div class="tokenomics-list__col">
              <span class="tokenomics-list__small-text">amount</span>
              <span class="tokenomics-list__number">300 000 000</span>
            </div>
          </li>

          <li class="tokenomics-list__item">
            <div class="tokenomics-list__col">
              <span class="tokenomics-list__title"> <span class="text-theme">5%</span> Liquidity</span>
              <span class="tokenomics-list__small-text">12 months cliff, monthly vesting over 18 months</span>
            </div>
            <div class="tokenomics-list__col">
              <span class="tokenomics-list__small-text">amount</span>
              <span class="tokenomics-list__number">500 000 000</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
