@keyframes text-shine {
    0% {
        background-position: 85% 100%;
    }
    50% {
        background-position: -100% -85%;
    }
    100% {
        background-position: 100% 75%;
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 85% 100%;
    }
    50% {
        background-position: -100% -85%;
    }
    100% {
        background-position: 100% 75%;
    }
}

@keyframes gradient-circle-animation {
    0% {
        background-size: 85% 85%;
    }
    20% {
        background-size: 90% 90%;
    }
    35% {
        background-size: 95% 95%;
    }
    55% {
        background-size: 105% 105%;
    }
    70% {
        background-size: 100% 100%;
    }
    95% {
        background-size: 95% 95%;
    }
    95% {
        background-size: 100% 100%;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes heroDown {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(10px);
    }
    60% {
        transform: translateY(0);
    }
}

@keyframes bounce {
    50% {
        transform: translateY(-15px);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-15px) rotate(15deg);
    }
    50% {
        transform: translateY(5px) rotate(-15deg);
    }
    75% {
        transform: translateY(15px) rotate(8deg);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes float-staking-1 {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-15px) rotate(15deg);
    }
    50% {
        transform: translate(-25px, -50px) rotate(15deg);
    }
    75% {
        transform: translateY(-45px) rotate(-8deg);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes float-staking-2 {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(15px) rotate(-15deg);
    }
    50% {
        transform: translate(-5px, 50px) rotate(15deg);
    }
    75% {
        transform: translateY(-15px) rotate(-3deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}

@keyframes float-staking-3 {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-15px) rotate(10deg);
    }
    50% {
        transform: translate(20px, 55px) rotate(-15deg);
    }
    75% {
        transform: translateY(-10deg) rotate(6deg);
    }
    100% {
        transform: translateY(0) rotate(0deg);
    }
}

@keyframes fadeInGamesBg {
    50% {
        background-size: 50% 50%;
    }
    100% {
        background-size: 100% 100%;
    }
}

@keyframes showKart {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rideKart {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-50px, -30px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes btnTransition {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 50% 0;
    }
    100% {
        background-position: 100% 0;
    }
}
