.grid {
    display: flex;
    flex-direction: column;

    @include mq(">=tablet") {
        flex-direction: row;
    }

    &--reverse {
        @include mq(">=tablet") {
            flex-direction: row-reverse;
        }
    }

    &--between {
        @include mq(">=tablet") {
            justify-content: space-between;
        }
    }
    
    &__item {
        width: 100%;

        @include mq(">=tablet") { 
            padding-left: pxToRem(16px);
            padding-right: pxToRem(16px);
            flex: 0 0 auto;
        }

        &--7of12 {
            width: 100%;

            @include mq(">=tablet") {
                max-width: calc(100% / 12 * 7);
            }
        }

        &--6of12 {
            @include mq(">=tablet") {
                max-width: calc(100% / 12 * 6);
            }
        }
        
        &--5of12 {
            width: 100%;
            
            @include mq(">=tablet") {
                max-width: calc(100% / 12 * 5);
            }
        }
    }
}