// default spacing value
$s: 0.5rem; // ==> 8px
$color-primary: #FD8000;
$color-white: #fff;
$color-bg: #1F1E29;
$html-font-size: 17px;

// Container widths 
$navbar-container-width: 95%;
$container-width: 1400px;
$gutter: 16px;

// Fonts
$font-family-primary: 'Noto Sans', sans-serif;
$font-weight-medium: 500;
$font-weight-bold: 700;